{{ define "main" }}
<body style="background:var(--dark) h-100" class="p-3 text-white">
<a href="/projects" class="btn btn-tab round-base"><i class="iconoir-arrow-up p-0 m-0 me-2"></i>
    Projects
</a>
{{ if or .Next .Prev -}}
{{- with .Prev }}
<a href="{{ .RelPermalink}}" class="btn btn-tab round-base"><i class="iconoir-arrow-left p-0 m-0 me-2"></i> Previous</a>
    {{ end -}}
{{- with .Next -}}
<a href="{{ .RelPermalink }}" class="btn btn-tab round-base"><i class="iconoir-arrow-right p-0 m-0 me-2"></i>
    Next
</a>{{ end -}}
{{ end -}}

<div class="py-6 md:px-12 lg:px-[9rem]">
    <div class="bg-zinc-900 round-base p-8 mt-3">
        <h1 class="leading-10 mb-5">
            {{ .Title }}
        </h1>
        <h3 class="mb-8"> {{ .Params.date | time.Format "2006" }} </h3>
        {{ .Content}}

    </div>
</div>
    
</body>
</html>
{{ end }}
